body {
padding :30px;
background-image: url("https://images.pexels.com/photos/306344/pexels-photo-306344.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
/* background-image: linear-gradient(rgb(28, 99, 156),rgb(62, 152, 194)); */
display: flex;
justify-content: center;
align-items: center;

}
.container{
    width: 70vw;
    height: 60vh;
    border: 5px solid white;
    /* background-color: #392C2C; */
    position: relative;
    top: 100px;
    margin-left: 10px;
    padding: 10px;
}

.main1{
    width: 95%;
    height: 45%;
    overflow: hidden;
    border-bottom: 5px dotted white;
    padding: 10px;
    margin-left: 15px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.location{
    width: 50%;
    height: 90%;
    border-right: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    letter-spacing: 5px;
    font-family: "Orbitron";
}
.temp{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 5px;
    font-family: "Orbitron";
}
.temp > #degree{
    font-size: 25px;
    position: relative;
    top: 13px;
    left: 2px;
}
.main2{
    width: 95%;
    height: 45%;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: bold;
}
.humidity{
    width: 30%;
    height: 30%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center
 
    }
.windSpeed{
    width: 30%;
    height: 30%;
    font-size: 20px;
    font-weight: bold;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 450px){
    body{
        margin: 10px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .container{
        width: 80vw;
        height: 80vh;
        border: 3px solid white;
        position: relative;
        top: 15px;
        left: -5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main1{
        width: 90%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .location{
        width: 90%;
        height: 50%;
        border-right: none;
        border-bottom: 2px solid white;
        font-size: 20px;
    }
    .btn{
        font-size: 16px;
        color:white;
        border: none;
        background-color: rgb(4, 1, 34);
    }
    .temp{
        width: 90%;
        height: 50%;
    }
    .main2{
        width: 90%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    #icon{
        width: 70%;
        position: relative;
        left: 19px;
    }
    .humidity{
        font-size: 20px;
        letter-spacing: 2px;
    }
    .windSpeed{
        width: 80%;
        font-size: 20px;
        letter-spacing: 2px;
    }

}
